.detail-view-container{
    display: flex;
    margin-top: 0.4em;
    height: 84vh;
    background-color: var(--nav-background-color);
    color: var(--primary-color);
    align-items: center;
    justify-content: space-around;
}

.detail-view-container figcaption>h2{
    color: var(--secundary-color);
    font-size: 1.5em;
}

.detail-view-image{
    width: 60vw;
    height: calc(60vw / 1.618);
    object-fit: cover;
    object-position: left top;
}


