* {
  /* Placeholder Colors */
  --primary-color: #fff;
  --secundary-color: #28a745;
  --nav-background-color: #333;
}
body {
  padding-top: 1rem;
}

.MovieOfTheDayWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 8px 12px 20px 5px rgba(0, 0, 0, 0.59);
  box-shadow: 8px 12px 20px 5px rgba(0, 0, 0, 0.59);
  margin-bottom: 1rem;
  background-color: var(--nav-background-color);
  border-radius: 10px;
}
.MovieOfTheDayImage {
  border-radius: 10px 10px;
  height: 40vh;
  width: auto;
}

.ImageAndTitle {
  display: flex;
  height: 40vh;
  width: 50vw;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  object-fit: fit;
}

h2 {
  font-size: 2rem;
  display: flex;
  color: var(--secundary-color);
  justify-content: center;
  margin: 0;
}

.SectionWrapper {
  display: flex;
  width: 50vw;
  height: 10vh;
  border-radius: 0 0 10px 10px;
  background-color: var(--nav-background-color);
  align-items: center;
  flex-direction: column;

  color: var(--primary-color);
}
.InfoSectionWrapper {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.RatingWrapper {
  display: flex;
  list-style: none;
}
