.SignUpWrapepr {
  background-color: var(--nav-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.SignUpButton {
  width: 20vw;
  background-color: var(--secundary-color);
  border-style: none;
  text-transform: uppercase;
}

.SignUpButton:hover {
  cursor: pointer;
}

input {
  width: 20vw;
  height: 8vh;
  border-style: none;
}

input:hover {
  background-color: gray;
  color: var(--secundary-color);
  font-size: 2rem;
}
input:hover::placeholder {
  color: var(--secundary-color);
  font-size: 2rem;
}

.SignUpNow {
  color: var(--secundary-color);
}
